<nav class="navbar fixed-top navbar-expand-lg navbar-primary bg-primary navbar " style="border-radius: 10px;;">
    <div class="container">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="float:left ;" >


        <li class="nav-item">
          <a class="nav-link text-white" href="http://127.0.0.1:8000/main/home/">Home</a>
        </li>
        <br>

        <li class="nav-item">
            <a class="nav-link text-white" href="http://127.0.0.1:8000/main/login/">Logout</a>
          </li>
          <br>
        <li class="nav-item">
            <a class="nav-link text-white" href="{{pswrd_link}}">Update Password</a>
        </li>
        
      </ul>
      
    </div>
    </div>
  </nav>  